<h2>Add new Posts</h2>

<p>
	<form action="/new" method="POST" role="form">
		<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Напишите ваше имя" style="width: 300px">
		<br />
		<textarea class="form-control" id="exampleFormControlTextarea1" rows="7" name="content" placeholder="Напишите сообщение"></textarea>
		</br>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>

